-- AlterTable
ALTER TABLE "ChatParticipant" ADD COLUMN "lastReadAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP;
ALTER TABLE "ChatParticipant" ADD COLUMN "unreadCount" INTEGER NOT NULL DEFAULT 0;
